<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Clientes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
</head>
<body>
    <div class="containerClientes">
        <h1>Cadastro de Clientes</h1>
        <!-- Formulário de Cadastro -->
        <form method="POST" action="/adm/clientes">
            <label for="codigo">Código</label>
            <input type="text" id="codigo" name="codigo" required>
            <label for="nome">Nome</label>
            <input type="text" id="nome" name="nome" required>
            <button type="submit">Cadastrar</button>
        </form>
                     
        <h2>Clientes Cadastrados</h2>
        <table>
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Nome</th>
                </tr>
            </thead>
            <tbody>
                {% for cliente in clientes %}
                    <tr>
                        <td>{{ cliente[0] }}</td>
                        <td>{{ cliente[1] }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="2">Nenhum cliente cadastrado.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>