<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Cadastrar Cliente</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
    </head>
    <body>
        <div class="voltar">
            <a href="/adm">
                <img src="../../static/images/Voltar.svg" alt="Voltar">
            </a>
        </div>
		<form action="/adm/clientes" method="GET" >
            <div class="containerListaClientes">
                <h1>Lista de Clientes</h1>
                <ul>
                    {% for cliente in clientes %}
                        <li>ID: {{ cliente[0] }} - Codigo: {{ cliente[1] }} - Nome: {{ cliente[2] }}</li>
                    {% endfor %}
                </ul>
            </div>
        </form>
        <form action="/adm/clientes" method="POST" >
            <div class="containerClientes">
                <div class="clientes">
                    <h1>Cadastrar Cliente</h1>
                    <div class="dadosClientes">
                        <label>Codigo Cliente</label>
                        <input type="codigo" name="codigo_cli" required>
                        <label>Nome do Cliente</label>
                        <input type="nome" name="nome_cli" required>
                    </div>
                    <button type="submit">Cadastrar</button>
                </div>
            </div>
        </form>
    </body>
</html>